.search-bar
{
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.content 
{
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
.content-wrapper
{
  width: 100%;
  display: flex;
  justify-content: center;
}