.container
{
  display: flex;
  flex-flow: column nowrap;
  width: 1056px;
}
@media(max-width: 548px)
{
  .container
  {
    width: 256px;
  }
}
@media(min-width: 548px) and (max-width: 822px)
{
  .container
  {
    width: 528px;
  }
}
@media(min-width: 822px) and (max-width: 1076px)
{
  .container
  {
    width: 792px;
  }
}
.movie-cards__container
{
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  max-width: 1056px;
}
.card 
{
  width: 240px;
  margin: 12px;
  cursor: pointer;
  display: flex;
}
.image-holder, .no-image
{
  margin-top: 24px;
  height: 300px;
  overflow: hidden;
  margin: 0 -24px;
}
.card-container
{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
}
@media(max-width: 599px)
{
  .image-holder
  {
    margin: 0 -16px;
  }
}
.no-image
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.image
{
  max-width: 100%;
}
.mat-card-item
{
  flex-grow: 1;
}