.title
{
  display: flex;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}
.search-bar 
{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.search-bar-full-width
{
  width: 100%;
}
.toolbar
{
  background-color: #1976d2;
}